.App {
  height: 100vh;
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.members {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 400px; /* Set the maximum height for the scrollbar */
}

.member {
  width: calc(33.33% - 20px); /* Set the width to approximately 33.33% with some margin */
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

input {
  display: flex;
  text-align: left;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  padding: 10px;
  border: 1px solid gray;
}

.form {
  display:flex;
  flex-direction: column;
  gap: 10px;
}

button {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 30px;
  width: 250px;
  margin: 10px;
  
}

.button {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 35px;
  font: 16pt;

  &__update, &__add {
    border: none;
    padding: 10px;
    background-color: lightcoral;
  }

}

h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

