.header-container {
    width: calc(100% - 15%);
    height: 4rem;
    position: absolute;
    top: 0; /* Ensure the header is at the top of the page */
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: right; /* Align the content to the right */
    align-items: center; /* Vertically center the content */
    margin-left: 15%;
}

.profile-container {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.profile-icon {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0.85rem;
    right: 0;
    border-radius: 4rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    z-index: 2;
    cursor: pointer;
}