.form {
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }
  

.button {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;
    width: 250px;
    margin: 10px;
    font-size: 1.25rem;
    border-radius: 4px;
  
    &__update {
        padding: 10px;
        background-color: lightcoral;
    }
}

