.header {
    padding-bottom: 1rem;
    font-size: 48px;
}
  
.members {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    font-size: 1.25rem;
}
  
.member {
    width: calc(33.33% - 20px); /* Set the width to approximately 33.33% with some margin */
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.25rem;
}

button {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;
    width: 250px;
    margin: 10px;
    font-size: 1.25rem;
    border-radius: 4px;
    line-height: .5rem;
    border-width: 1px;
    position: relative;
  }
  
  .button {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;
    width: 250px;
    margin: 10px;
    font-size: 1.25rem;
    border-radius: 4px;
    line-height: .5rem;
    border-width: 1px;
  
    &__add {
      border: 10px;
      border-color: black;
      padding: 10px;
      background-color: lightcoral;
      border-width: 1px;
      position: relative;
      display: flex;
    }
  }