.home-top-container {
    width: max;
    height: 10%;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem 0 1rem;
}

.add-group-container {
    width: 15%;
    text-align: center;
    align-content: center;
}

.add-group {
    font-family: "quicksand";
    font-size: 20px;
    font-weight: 700;
    width: 10rem;
    height: 2.5rem;
    border: 1px solid #bbb;
    border-radius: 0.2rem;
    background-color: #731dff;
    color: white;
    cursor: pointer;
}

.add-group:hover {
    filter: brightness(90%);
}