.main-container {
    width: 100%;
    height: 100vh;
}

.body-container {
    display: flex;
    justify-content: space-between;
    width: max;
    height: max;
    margin: 4rem 0 0 12rem;
}

.section-name-container {
    text-align: center;
    width: 15%;
}

.add-group-container {
    width: 12%;
    text-align: center;
    align-content: center;
}

.add-group {
    font-family: "quicksand";
    font-size: 20px;
    font-weight: 700;
    width: 10rem;
    height: 2.5rem;
    border: 1px solid #bbb;
    border-radius: 0.2rem;
    background-color: #731dff;
    color: white;
    cursor: pointer;
}

.add-group:hover {
    filter: brightness(90%);
}