.container {
    width: 100vw;
    height: 100vh;
}

.register-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-input-section {
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username-container, .password-container, .confirm-password-container, .register-button-container {
    width: 80%;
    margin: 0.5rem 0 0.5rem 0;
}

#username, #password, #confirm_pwd {
    width: 100%;
    height: 2rem;
    font-family: "quicksand";
    font-size: 12pt;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 5px 0 5px;
}

#uidnote, #pwdnote, #confirmnote {
    color: white;
    background-color: black;
    padding: 5px;
    margin: 0;
    border-radius: 5px;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.instructions {
    font-size: 10pt;
}

.register-button {
    width: 100%;
    height: 2rem;
    font-family: "quicksand";
    font-size: 12pt;
    font-weight: 500;
    box-sizing: border-box;
    background-color: #731dff;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.register-button:disabled {
    opacity: 0.5;
    cursor: default;
}