.header-container {
    width: calc(100% - 12rem);
    height: 4rem;
    position: absolute;
    top: 0; /* Ensure the header is at the top of the page */
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: right; /* Align the content to the right */
    align-items: center; /* Vertically center the content */
    margin-left: 12rem;
}

.profile-container {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.profile-icon {
    cursor: pointer;
}

.profile-menu-container {
    width: 10rem;
    height: 20rem;
    background-color: black;
}